<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigdata.bigdataserver.dao.ChinaDayListDao">
    <insert id="insert" parameterType="com.bigdata.bigdataserver.vo.ChinaDayList">
        insert into chinadaylist (date, today_confirm, today_suspect, today_heal, today_dead, today_severe, today_storeConfirm, today_input,
                                total_confirm, total_suspect, total_heal, total_dead, total_severe, total_input, total_storeConfirm)
        values (#{date}, #{todayConfirm}, #{todaySuspect}, #{todayHeal}, #{todayDead}, #{todaySevere}, #{todayStoreConfirm}, #{todayInput},
                #{totalConfirm}, #{totalSuspect}, #{totalHeal}, #{totalDead}, #{totalSevere}, #{totalInput}, #{totalStoreConfirm})
    </insert>
</mapper>